* {
  margin: 0;
}

.rounded{
  width: 56%;
  padding: 20px;
}

img {
  width: 20%;
  padding: 20px;
} 

.hidden {
  opacity: 0;
  display: none;
}
.search-container {
  display: flex;
  margin: 10px;
  width: 80%;
}
input:focus {
  box-shadow: none !important;
}
.btn-search {
  border: none;
  padding-bottom: 10px 25px;
  border-radius: 0 5px 5px 0;
  background-color: #51adeb;
  color: #fff;
  margin-left: -15px;
  cursor: pointer;
}
#search{
  font-family: 'Rajdhani', sans-serif;
}
.no-border {
  border: none;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 30px 15px;
  background-color: #efefef;
  color: #406163;
}

#clearPokemon{
  font-family: 'Rajdhani', sans-serif;
  box-shadow: none !important;
}


/* -------CARDS---------- */

.pokemon-card {
  display:flex;
  flex-direction: column;
  align-items: center;
  /* padding: 60px 15px; */
}

.cp-text span {
  font-size: 16px;
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:100px 30px 60px;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  margin-top: -150px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}